<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Warsoed</title>
    <!-- meta text -->
    <meta property="og:title" content="Warsoed" />
    <meta property="og:description" content="Warsoed adalah aplikasi untuk memudahkan umkm dalam mencari konsumen" />
    <meta property="og:url" content="www.warsoed.com" />
    <meta property="og:image" content="images/dummy-logo.png" />
    <meta name="theme-color" content="#000" />
    <!-- font google api -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- output to tailwindcss -->
    <link rel="stylesheet" href="/src/dist/output.css" />
    <link rel="stylesheet" href="/src/input.css" />
    <!-- favicon icon -->
    <link rel="shortcut icon" href="/src/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/src/images/favicon/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="mx-auto text-center border-b-2 shadow-md">
        <img src="/src/images/logo.png" class="w-1/2 md:w-[15%] text-center mx-auto" alt="" />
      </div>

      <div class="mx-auto flex container mt-8">
        <div class="justify-start left-[10px] md:left-[50px] absolute">
          <a href="index.html" class="inset-0">
            <i class="material-icons md-30 hover:-translate-y-1 transform">arrow_back</i>
          </a>
        </div>
        <div class="justify-end right-[10px] md:right-[6rem] absolute">
          <div class="md:flex">
            <i class="material-icons md-30 right-0 absolute md:relative">home</i>
            <br class="md:hidden block" />
            <h5 id="lokasi__desa" class="md:mt-[2px] md:ml-3 text-xl text-gray-600">Pabuaran</h5>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!--  main content -->
    <main>
      <section class="mx-auto container items-center justify-center mt-36">
        <h1 class="md:text-4xl text-3xl font-bold capitalize items-center text-center">UMKM area Pabuaran</h1>
        <img
          src="/src/images/jumbotron.png"
          alt=""
          class="h-[18rem] w-full md:h-[24rem] mt-24 text-center items-center mx-auto px-2 md:px-0 rounded-[1rem] md:rounded-lg shadow-xl object-cover"
        />
      </section>

      <!-- column detail  -->
      <section class="grid md:grid-cols-3 grid-cols-2 mx-auto container mt-24 gap-8 px-2 md:px-0">
        <a
          href="menu-detail.html"
          class="col-span-1 hover:-translate-y-2 transform duration-300 overflow-hidden rounded shadow-lg pb-12"
        >
          <img class="w-full" src="/src/images/detail-1.jpg" id="gambar__umkm" alt="" />
          <div class="mt-8 px-2">
            <h5 class="text-xl font-bold text-gray-700 text-left" id="nama__umkm">Bu yuni</h5>
            <h6 class="text-sm md:text-lg md:my-0 my-4 font-light text-gray-500 capitalize" id="lokasi__alamat">
              jl. Cendrawasih 5. Rt/01, Rw/02
            </h6>
            <p class="float-right text-red-500 text-base lg:text-lg" id="jumlah__menu">24 Menu</p>
          </div>
        </a>
        <a
          href="menu-detail.html"
          class="col-span-1 rounded shadow-lg hover:-translate-y-2 transform duration-300 pb-8"
        >
          <img src="/src/images/detail-2.jpg" id="gambar__umkm" alt="" />
          <div class="mt-8 px-2">
            <h5 class="text-xl font-bold text-gray-700 text-left" id="nama__umkm">Bu yuni</h5>
            <h6 class="text-sm md:text-lg my-4 md:my-0 font-light text-gray-500 capitalize" id="lokasi__alamat">
              jl. Cendrawasih 5. Rt/01, Rw/02
            </h6>
            <p class="float-right text-red-500 text-base lg:text-lg" id="jumlah__menu">24 Menu</p>
          </div>
        </a>
        <a
          href="menu-detail.html"
          class="col-span-1 rounded shadow-lg hover:-translate-y-2 transform duration-300 pb-8"
        >
          <img src="/src/images/detail-3.jpg" id="gambar__umkm" alt="" />
          <div class="mt-8 px-2">
            <h5 class="text-xl font-bold text-gray-700 text-left" id="nama__umkm">Bu yuni</h5>
            <h6 class="text-sm md:text-lg my-4 md:my-0 font-light text-gray-500 capitalize" id="lokasi__alamat">
              jl. Cendrawasih 5. Rt/01, Rw/02
            </h6>
            <p class="float-right text-red-500 text-base lg:text-lg" id="jumlah__menu">24 Menu</p>
          </div>
        </a>
        <a
          href="menu-detail.html"
          class="col-span-1 rounded shadow-lg hover:-translate-y-2 transform duration-300 pb-8"
        >
          <img src="/src/images/detail-2.jpg" id="gambar__umkm" alt="" />
          <div class="mt-8 px-2">
            <h5 class="text-xl font-bold text-gray-700 text-left" id="nama__umkm">Bu yuni</h5>
            <h6 class="text-sm md:text-lg my-4 md:my-0 font-light text-gray-500 capitalize" id="lokasi__alamat">
              jl. Cendrawasih 5. Rt/01, Rw/02
            </h6>
            <p class="float-right text-red-500 text-base lg:text-lg" id="jumlah__menu">24 Menu</p>
          </div>
        </a>
        <a
          href="menu-detail.html"
          class="col-span-1 rounded shadow-lg hover:-translate-y-2 transform duration-300 pb-8"
        >
          <img src="/src/images/detail-1.jpg" id="gambar__umkm" alt="" />
          <div class="mt-8 px-2">
            <h5 class="text-xl font-bold text-gray-700 text-left" id="nama__umkm">Bu yuni</h5>
            <h6 class="text-sm md:text-lg my-4 md:my-0 font-light text-gray-500 capitalize" id="lokasi__alamat">
              jl. Cendrawasih 5. Rt/01, Rw/02
            </h6>
            <p class="float-right text-red-500 text-base lg:text-lg" id="jumlah__menu">24 Menu</p>
          </div>
        </a>
        <a
          href="menu-detail.html"
          class="col-span-1 rounded shadow-lg hover:-translate-y-2 transform duration-300 pb-8"
        >
          <img src="/src/images/detail-3.jpg" id="gambar__umkm" alt="" />
          <div class="mt-8 px-2">
            <h5 class="text-xl font-bold text-gray-700 text-left" id="nama__umkm">Bu yuni</h5>
            <h6 class="text-sm md:text-lg my-4 md:my-0 font-light text-gray-500 capitalize" id="lokasi__alamat">
              jl. Cendrawasih 5. Rt/01, Rw/02
            </h6>
            <p class="float-right text-red-500 text-base lg:text-lg" id="jumlah__menu">24 Menu</p>
          </div>
        </a>
      </section>
      <!-- end column detail  -->

      <!-- request to join-->
      <section class="mt-36 bg-slate-300 rounded-lg mx-auto container">
        <div class="py-18 items-center text-center flex-row md:px-0 px-6">
          <h1 class="text-2xl md:text-3xl font-bold capitalize">Daftarkan Usahamu Sekarang!</h1>
          <h5 class="md:text-xl font-light text-center lg:px-88 mt-8">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laborum iure laudantium facere enim suscipit
            officia reiciendis quod, vel iste corrupti dolores fuga, aliquid deserunt. Dolorem, praesentium? Deleniti,
            impedit fugiat?
          </h5>
          <div class="flex mt-12 justify-center space-x-12 font-bold">
            <a
              href="#"
              class="md:py-4 md:px-12 py-4 px-6 bg-red-500 text-white rounded-lg hover:text-red-500 hover:border-red-500 border-2 hover:bg-slate-300"
              >Via Email</a
            >
            <a
              href="#"
              class="md:py-4 md:px-12 py-4 px-6 border-2 border-red-500 text-red-500 rounded-lg hover:bg-red-500 hover:text-white"
              >Via Whatsapp</a
            >
          </div>
        </div>
      </section>
      <!-- end request to join -->

      <!-- end   main content -->
    </main>

    <!-- footer -->
    <footer class="mt-36 mx-auto container text-center md:border-t-[3px] border-t-2 border-slate-200">
      <h5 class="font-light text-lg capitalize py-4">© 2022 - WARSOED. All rights reserved.</h5>
    </footer>
    <!-- end footer -->

    <!-- javascript -->
    <!-- jqeury -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- swiper js -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- mixitup js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"
      integrity="sha512-nKZDK+ztK6Ug+2B6DZx+QtgeyAmo9YThZob8O3xgjqhw2IVQdAITFasl/jqbyDwclMkLXFOZRiytnUrXk/PM6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- vanilla js -->
    <script src="/src/js/main.js"></script>
  </body>
</html>
