<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warsoed</title>
    <!-- meta text -->
    <meta property="og:title" content="Warsoed" />
    <meta property="og:description" content="Warsoed adalah aplikasi untuk memudahkan umkm dalam mencari konsumen" />
    <meta property="og:url" content="www.warsoed.com" />
    <meta property="og:image" content="images/dummy-logo.png" />
    <meta name="theme-color" content="#000" />
    <!-- font google api -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- output to tailwindcss -->
    <link rel="stylesheet" href="/src/dist/output.css" />
    <link rel="stylesheet" href="/src/input.css" />
    <!-- favicon icon -->
    <link rel="shortcut icon" href="/src/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/src/images/favicon/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <!-- header -->
    <header>
      <!-- navbar -->

      <!-- navbar mobile -->
      <section class="block md:hidden container">
        <div class="z-20 rounded-xl">
          <img src="/src/images/logo.png" class="w-1/2 items-center self-center mx-auto" alt="" />
        </div>
        <div class="w-screen h-screen bg-hero-img bg-no-repeat object-cover mt-4 border-b">
          <div class="mx-auto items-center self-center justify-center pt-34">
            <h1 class="text-2xl text-center text-white">Warung Soedriman</h1>
            <p class="text-light text-white text-lg mt-12 text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, repellendus neque? Blanditiis
              deleniti sed recusandae tenetur explicabo, at quaerat harum tempora fugit a, inventore asperiores nihil
              sunt! Magni, repellendus odit.
            </p>
          </div>
          <div class="mx-auto mt-12 text-center">
            <a href="#" class="bg-red-500 text-white px-12 py-4 mx-auto rounded-lg">Mulai</a>
          </div>
        </div>
      </section>
      <!-- end navbar mobile -->

      <!-- navbar dekstop -->
      <section class="hidden md:block">
        <nav class="flex flex-wrap items-center container px-12 mx-auto">
          <div class="flex">
            <div class="mt-4">
              <img src="/src/images/logo.png" alt="" class="w-1/6" />
            </div>
            <ul class="flex mt-12 font-bold capitalize text-xl">
              <li><a href="#" class="px-4 hover:text-red-500 hover:underline text-white">home</a></li>
              <li><a href="#" class="px-4 hover:text-red-500 hover:underline text-white">service</a></li>
              <li><a href="#" class="px-4 hover:text-red-500 hover:underline text-white">menu</a></li>
              <li><a href="#" class="px-4 hover:text-red-500 hover:underline text-white">contact</a></li>
            </ul>
          </div>
        </nav>
        <!-- end navbar dekstop -->
        <!-- navbar mobile -->
        <!-- end navbar mobile -->
      </section>
      <!-- end navbar -->
      <!-- jumbotron -->
      <!-- dekstop jumbotron -->
      <section class="hidden md:block">
        <div class="flex">
          <div class="w-1/2 relative mt-32 pl-12 pr-60 -z-10">
            <h1 class="font-extrabold text-4xl uppercase">Warsoed</h1>
            <h3 class="font-light text-gray-300 text-2xl">Aplikasi untuk memudahkan umkm area <u>UNSOED</u></h3>
            <p class="mt-24 text-justify font-light text-xl">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam id nostrum sit? Iusto minus earum
              assumenda eum quibusdam officiis consequatur, hic laboriosam deserunt aperiam nobis soluta aliquam
              tempore, quaerat possimus.
            </p>
          </div>
          <div class="-mt-24 -z-10 relative inset-0 w-1/2">
            <img
              src="/src/images/jumbotron.png "
              class="relative w-full h-full object-cover object-center inset-0"
              alt=""
            />
          </div>
        </div>
        <div class="pl-12 -mt-32 z-40">
          <a
            href="#"
            class="px-12 py-4 bg-red-500 text-gray-800 font-bold hover:bg-red-600 hover:text-white rounded-lg capitalize text-xl z-50"
            >mulai</a
          >
        </div>

        <!-- button jumbotron -->

        <!-- end button jumbotron -->
      </section>
      <!-- end dekstop jumbotron -->

      <!-- end jumbotron -->
    </header>

    <!-- end header -->
  </body>
</html>
