<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warsoed</title>
    <!-- meta text -->
    <meta property="og:title" content="Warsoed" />
    <meta property="og:description" content="Warsoed adalah aplikasi untuk memudahkan umkm dalam mencari konsumen" />
    <meta property="og:url" content="www.warsoed.com" />
    <meta property="og:image" content="images/dummy-logo.png" />
    <meta name="theme-color" content="#000" />
    <!-- font google api -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- output to tailwindcss -->
    <link rel="stylesheet" href="/src/dist/output.css" />
    <link rel="stylesheet" href="/src/input.css" />
    <!-- swiper css -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <!-- favicon icon -->
    <link rel="shortcut icon" href="/src/images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/src/images/favicon/favicon.ico" type="image/x-icon" />
  </head>

  <body
    class="h-[100vh] w-full bg-no-repeat bg-cover bg-center"
    style="background-image: url('/src/images/login-img.jpeg')"
  >
    <div
      class="justify-center container mx-auto to-transparent rounded lg:px-52 border-4 border-white rounded lg:py-12 lg:absolute lg:top-[10rem] lg:left-12 mt-60 overflow-hidden lg:mt-0"
    >
      <h1 class="text-white font-bold text-3xl text-center">Login</h1>
      <form action="" method="">
        <label for="namaUmkm" class="text-white text-lg font-bold">Username</label>
        <input
          type="text"
          autocomplete="off"
          required
          class="border-gray-500 border-2 rounded w-full cursor-pointer text-black"
          name="namaUmkm"
          id="namaUmkm"
        />
        <br />
        <br />
        <label for="namaPemilik" class="text-white text-lg font-bold">Password :</label>
        <br />
        <input
          type="password"
          autocomplete="off"
          required
          class="border-gray-500 border-2 rounded w-full cursor-pointer text-black"
          name="text"
          id="namaPemilik"
        />
        <br /><br />

        <input type="submit" class="px-4 py-2 bg-green-500 text-white w-full hover:bg-green-600" />
      </form>
    </div>

    <!-- javascript -->
    <!-- jqeury -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- swiper js -->
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- mixitup js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"
      integrity="sha512-nKZDK+ztK6Ug+2B6DZx+QtgeyAmo9YThZob8O3xgjqhw2IVQdAITFasl/jqbyDwclMkLXFOZRiytnUrXk/PM6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- vanilla js -->
    <script src="/src/js/main.js"></script>
  </body>
</html>
